<div class="container lesson-steps col-lg-2 col-md-3 col-sm-12">
	<div ng-repeat="task in tasks" class="
		alert alert-dismissable 
		{{ task.status == 'open' ? ' alert-info ' : '' }}
		{{ task.status == 'inprogress' ? ' alert-warning ' : '' }}
		{{ task.status == 'closed' ? ' alert-success ' : '' }}
	">
		<i class="
			fa fa-2x
			{{ task.status == 'open' ? ' fa-circle-o ' : '' }}
			{{ task.status == 'inprogress' ? ' fa-play-circle-o ' : '' }}
			{{ task.status == 'closed' ? ' fa-check-circle-o ' : '' }}
		"></i> <b>{{task.preTitle}}. </b>{{task.title}}
	</div>
</div>

<div class="container main-content col-lg-10 col-md-9 col-sm-12">
	<div class="well bs-component">
		<ul class="nav nav-tabs">
			<li ng-repeat="file in files" class="{{ file == files[activeFile] ? 'active' : '' }}" ng-click="methods.activateFile(file)"><a>

			{{file.editMode ? '' : file.name}}

			<input size="{{file.name.length || 1}}" ng-model="file.name" ng-keyup="$event.keyCode == 13 && methods.switchEditMode(file)" style="
				{{ file.editMode ? '' : 'display:none;' }}
			">

			<i class="fa fa-fw fa-edit" ng-click="methods.switchEditMode(file)" style="
				{{ file == files[activeFile] ? '' : 'display:none;' }}
			"></i>
			<i class="fa fa-fw fa-times" ng-click="methods.deleteFile(file)" style="
				{{ files.length <= 1 ? 'display:none;' : '' }}
			"></i>
			</a></li>

			<li ng-click="methods.addFile()"><a>+</a></li>
		</ul>
		<div ui-ace="{
			useWrapMode : true,
			theme:'eclipse',
			mode: 'javascript',
			showGutter: true,
			onLoad: methods.aceLoaded,
			onChange: methods.aceChanged
		}" ng-model="files[activeFile].code"></div>
	</div>
	<div class="well bs-component">
		TEST PAGE HERE
	</div>
	<div class="well bs-component">
		CLI output here
	</div>
</div>
