<div class="row">
    <div class="col-md-12">
        <button ng-click="compare()" class="btn btn-default">Compare</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <textarea ng-model="leftCode" style="width: 100%;height: 400px;"></textarea>
    </div>
    <div class="col-md-6">
        <textarea ng-model="rightCode" style="width: 100%;height: 400px;"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <span ng-repeat="part in diffResult" style="color:{{ part.added ? 'green' : part.removed ? 'red' : 'grey' }};">{{part.value}}</span>
    </div>
</div>




<div class="row" style="margin-top: 200px;">
	<div class="col-md-1">
		<i 
			class="fa" 
			ng-class="{ 'fa-circle':recording, 'fa-circle-o':!recording  }"
			style="color: red;"
		></i>
		</div>
	<div class="col-md-1"><div class="btn btn-primary btn-block" ng-click="startRecord()">Start</div></div>
	<div class="col-md-1"><div class="btn btn-primary btn-block" ng-click="stopRecord()">Stop</div></div>
	<div class="col-md-1"><div class="btn btn-primary btn-block" ng-click="playTrace()">Playback</div></div>
	<div class="col-md-1"><div class="btn btn-primary btn-block" ng-click="showTrace()">Show</div></div>
</div>
<div class="row">
	<div id="myCodeContainer" ui-ace="{
		useWrapMode : true,
		theme:'eclipse',
		mode: 'javascript',
		showGutter: true,
		onLoad: aceLoaded,
		onChange: aceChanged
	}" ng-model="codeInside" ng-keyup="captureEvent($event)"></div>
</div>